body {
	font-family: sans-serif;
	max-width: 1000px;
	margin: 0 auto;
	padding: 16px;
}
header {
	display: flex;
	flex-wrap: wrap;
	gap: 16px;
	align-items: center;
}
.logo svg {
	width: 200px;
	height: 200px;
}
h1 {
	display: flex;
	flex-direction: column;
	gap: 8px;
	margin: 0;
}
h1 span {
	font-size: 36px;
}
h1 small {
	font-size: 20px;
	margin: 0 .5em;
}
header nav {
	flex: 1 1 auto;
}
header nav ul {
	display: flex;
	flex-wrap: wrap;
	gap: 24px;
}
header nav a, header nav li {
	text-decoration: none;
	display: flex;
	gap: 8px;
	align-items: center;
	font-size: 18px;
	color: inherit;
}
header nav a img {
	width: 48px;
	height: 48px;
}
header nav a span {
	text-decoration: underline;
}
.install {
	margin-right: auto;
}
.etc {
	margin-left: auto;
}
article {
	margin: 32px 0;
}
